<div class="nested-fields">
  <div class="field">
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :tier_description %>
    <br>
    <%= f.text_field :tier_description %>
  </div>
  <%= link_to_remove_association "remove tier", f %>
</div>