<h1>Edit Project</h1>
<%= @project.name %><br>
<%= @project.start_date %><br>
<%= @project.finish_date %><br>
<%= @project.funding_goal %><br>

<%= form_for(@project ) do |f|%>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	<label>Project Image</label>
    <%= f.file_field :image %>
	<h4>Add Tiers:</h4>
	<div id="tiers">
    <%= f.fields_for :tiers do |tier| %>
      <%= render 'tiers', :f => tier %>
    <% end %>
    <div class="links">
	    <%= link_to_add_association 'add tier', f, :tiers, :partial => "tiers" %>
	  </div>
	</div>
	<div class="action">
		<%= f.submit %>
	</div>
<% end %>
