<div class='project_index'>
	<h1>Projects#index</h1>
	<p>Find me in app/views/projects/index.html.erb</p>
	<%= link_to 'New', new_project_path %><br><br>
</div>

<div class="row">
	<% @projects.each do |x| %>

	<div class="projects_listed large-4 columns">
		<strong><%= x.name %></strong><br>
		Description: <%= x.description %><br>
		id: <%= x.id %><br>
		<%= link_to 'Show', project_path(x.id) %>
		<br>
	</div>

	<% end %>
	<%= paginate @projects %>
</div>

