<div class='project_index'>
	<h1>Projects#index</h1>
	<p>Find me in app/views/projects/index.html.erb</p>
	<%= link_to 'New', new_project_path %><br><br>
</div>

<<<<<<< HEAD

	<% @projects.each do |x| %>
<div class="row">
	<div class="projects_listed large-4 columns">
		<strong><%= x.name %></strong><br>
		Description: <%= x.description %><br>
		id: <%= x.id %><br>
		<%= image_tag x.image.thumb.url %><br>
		<%= link_to 'Show', project_path(x.id) %>

<div class="row" id="projects">


	<%= render @projects %>
	<div style="margin-top: 50px;">
		<%= paginate @projects %>

	</div>


</div>

