<h1>Project</h1>

<%= @project.name %><br />
<%= @project.description %>

<% @project.breakpoints.each do |b| %>
	<h1><%= b.amount %></h1>
	<p><%= b.breakpoint_description %></p>
<% end %>

<h2><%= link_to "Make a Pledge!!", new_project_pledge_path(@project) %></h2>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Destroy', project_path(@project), method: :delete %> 
<br><br>
<%= link_to "< Return home", projects_path %>