<div class="individual_project_immediate_details">
	<table class="project_details">
		<h1><%= @project.name %></h1>		
		<tr><td>Start date:</td><td> <%= @project.start_date %></td></tr>
		<tr><td>End date: </td><td><%= @project.finish_date %></td></tr>	
	</table>
	<div class="inner_project_page"><br>
		<div class="project_text_description">
			<%= @project.description %>
		</div>
		<div class="project_reward_tiers">
			<% @project.tiers.each do |b| %>
			<div class="project_reward_tier">
				<%= b.amount %><br>
				<%= b.tier_description %><br>
			</div>
			<% end %>		
		</div>
	</div>
	<%= render 'layouts/editdestroyproject' %>
	<%= link_to "< Return home", projects_path %>

	